<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassManage.Properties.Settings.ClassManageConnectionString"
            connectionString="Data Source=222.16.131.157;Initial Catalog=ClassManage;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="ClassManage.Properties.Settings.dbConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db.mdb"
            providerName="System.Data.OleDb" />
        <add name="ClassManage.Properties.Settings.User_pasConnectionString"
            connectionString="Data Source=222.16.131.157;Initial Catalog=User_pas;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>